header{
    background-color: black;
    height: 130px;
    padding-top: 30px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 5fr 5fr;
}

img{
   display:inline ;
   align-self: center;


}
#interno{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}